/*Set the initial CSS for the main elements that share the same initial CSS properties.*/

body,
div,
ul,
li,
p,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


/*Set the initial CSS for the main elements that share the same initial CSS properties.*/

h1,
h2,
h3,
.welcome-message,
#skills-h3 {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}


/*Set the CSS over-rides for the elements which were already defined but require further CSS definition.*/

h1 {
    font-size: 40px;
    /* color: #f5a623; */
    color: #8B4513;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #8B4513;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #8B4513;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

ul {
    list-style-type: none;
}

img {
    padding: 10px;
}

span {
    padding: 5px;
}


/*Set the CSS for the header background.*/

#header {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/*Set the CSS for the heading entries in the Resume sections.*/

.education-entry-heading,
.work-entry-heading,
.project-entry-heading {
    font-weight: bold;
}


/*Set the CSS for the detail entries in the Resume sections.*/

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}


/*Set the CSS for "Date" values.*/

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}


/*Set the CSS for "Location" values.*/

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}


/*Set the CSS for specific selectors.*/

.welcome-message {
    font-style: italic;
    font-size: 25px;
    line-height: 28px;
}

#skills-h3 {
    display: none;
    margin-top: 20px;
}

.clear-fix {
    overflow: auto;
}

.orange {
    background-color: #f5ae23;
}

.orange-text {
    color: #f5ae23;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.brown-text {
    color: #8B4513;
    /* color is saddlebrown */
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.white-text {
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
}

.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}

.dark-gray {
    background-color: #4a4a4a;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.skills-flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
}

.center-content {
    padding: 2.5% 5%;
}

.biopic {
    float: left;
    height: 225px;
    display: none;
    padding-top: 0;
}

#lets-connect {
    text-align: center;
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

#open-popup {
    padding: 20px
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 200px;
    margin: 20px auto;
    text-align: center;
}


/* Specify CSS for Media rules set to handle elements displayed at various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    }
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }
}

@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
        display: block;
    }
}
